/migrations/
.env
README.md
# ========================
# BINARIOS GO
# ========================
/bin/
/build/
/dist/
/tmp/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# ========================
# LOGS
# ========================
*.log

# ========================
# VARIABLES DE ENTORNO
# ========================
.env
.env.*
!.env.example

# ========================
# CACHE
# ========================
.cache/

# ========================
# IDEs
# ========================
.vscode/
.idea/

# ========================
# OS
# ========================
.DS_Store
Thumbs.db